<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 - Tanisha Sharma</title>
    <%- include('./partials/_head.ejs') %>
    <!-- No-index -->
    <meta name="robots" content="noindex">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
      <h1 class="heading-thin text-center">404!</h1>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2>Page not found.</h2>
        </div>
      </div>
    </div>
    <%- include('./partials/_bootstrap.ejs') %>
  </body>
</html>
