<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Software Developer</title>
    <%- include('./partials/_head.ejs') %>
    <meta name="Description" content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-5 text-center">
                <span class="title-badge mx-auto text-center">Contact</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 mx-auto mb-5">
                <%- include('./partials/_contact-form.ejs') %>
            </div>
        </div>
    </div>
    <%- include('./partials/_bootstrap.ejs') %>
  </body>
</html>
