<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Software Developer</title>
    <%- include('./partials/_head.ejs') %>
    <meta name="Description" content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON">
    <meta property="og:title" content="Tanisha Sharma - Software Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tanisha1.herokuapp.com" />
    <meta property="og:image" content="https://tanisha1.herokuapp.com/images/tanisha_sharma.jpeg" />
    <link rel="canonical" href="https://tanisha1.herokuapp.com">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <!-- Landing screen section start -->
            <section class="landing-screen animated" data-effect="backInDown">
              <div class="thumbnail">
                <img src="/images/tanisha_sharma.jpeg" alt="Tanisha Sharma" width="100%" height="100%"/>
              </div>
              <h4 class="title text-center my-3 animated"  data-effect="fadeInDown">Hi, I'm Tanisha 🤟</h4>
              <h1 class="text-center animated"  data-effect="fadeInLeft">Building digital,<br />reliable products and best <br/>user experience</h1>
              <h5 class="text-center my-4 animated"  data-effect="fadeInDown">I'm <strong>Software Engineering</strong> student at Centennial College <br>Progress campus, Scarborough, ON.</h5>
              <a href="/contact" class="d-block btn btn-lg btn-dark mb-5 mx-auto btn-contact-me animated"  data-effect="fadeInRight">Connect with me</a>
            </section>
            <!-- Landing screen section end -->
          </div>
        </div>
      </div>
    <%- include('./partials/_footer.ejs') %>
  </body>
</html>
