<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Services we offered by me</title>
    <%- include('./partials/_head.ejs') %>
    <meta
      name="Description"
      content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON"
    />
    <meta
      property="og:title"
      content="Tanisha Sharma - Services offered by me"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="canonical" href="" />
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-12 mt-5 mb-5 text-center">
          <span class="title-badge mx-auto text-center">Services</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
					<section class="services flex">
						<span class="small-title">// OUR SERVICES</span>
						<h1 class="section-title">We Offer a Wide <br />Variety of IT Services</h1>
						<div class="flex flex-column">
							<h4>Web Development</h4>
							<p class="desc">We carry more than just good coding skills. Our experience makes us stand out from other web development.</p>
						</div>
						<div class="flex flex-column">
							<h4>QA & Testing</h4>
							<p class="desc">Create complex enterprise software, ensure reliable software integration, modernise your legacy system.</p>
						</div>
						<div class="flex flex-column">
							<h4>Mobile Development</h4>
							<p class="desc">Create complex enterprise software, ensure reliable software integration, modernise your legacy system.</p>
						</div>
						<div class="flex flex-column">
							<h4>UI/UX Design</h4>
							<p class="desc">Build the product you need on time with an experienced team that uses a clear and effective design process.</p>
						</div>
					</section>
					<section class="services-section flex flex-wrap mb-5">
						<span class="small-title">// IT SERVICES</span>
						<h1 class="section-title">These are our fantastic skills.</h1>
            <div class="flex flex-column">
              <span class="serial">01.</span>
              <span class="technology">WordPress</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality Java
                solutions.</span
              >
            </div>
            <div class="flex flex-column">
              <span class="serial">02.</span>
              <span class="technology">Marketo</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality PHP
                solutions.
              </span>
            </div>
            <div class="flex flex-column">
              <span class="serial">03.</span>
              <span class="technology">HTML & CSS</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality C++
                solutions.
              </span>
            </div>
            <div class="flex flex-column">
              <span class="serial">04.</span>
              <span class="technology">JavaScript & jQuery</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality Qt
                solutions.</span
              >
            </div>
            <div class="flex flex-column">
              <span class="serial">05.</span>
              <span class="technology">Ruby on Rails</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality C++
                solutions.</span
              >
            </div>
            <div class="flex flex-column">
              <span class="serial">06.</span>
              <span class="technology">Shopify</span>
              <span class="promise-slogan"
                >We’re committed to building sustainable and high-quality Qt
                solutions.</span
              >
            </div>
          </section>
					<section class="contact-us">
						<span>// Drop us a line! We are here to answer your questions 24/7</span>
						<h1>NEED A CONSULTATION?</h1>
						CONTACT US
					</section>
        </div>
      </div>
    </div>
    <%- include('./partials/_bootstrap.ejs') %>
  </body>
</html>
