@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');

*
  box-sizing: border-box

body
  font: 14px 'Nunito', Helvetica, Arial, sans-serif

a
  color: #00B7FF

header
  margin-top: 80px

.navbar
  min-height: 80px
  width: 100%
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.15)
  .nav-item
    font-size: 18px
    &.active
      font-weight: 600

.alert
  z-index: 9999
  position: absolute
  right: 10px
  top: 90px

.title-badge
  display: inline-block
  background: rgba(40,167,69,.25)
  color: rgb(40,167,69)
  padding: 15px 50px
  border-radius: 50px
  font-size: 40px
  letter-spacing: .5px

section
  .small-title
    color: rgb(0,123,255)
    font-weight: bold
  .section-title
    font-weight: 700

